<a href="https://colab.research.google.com/github/nedokormysh/Stepik_Karpov_ML/blob/main/Stepik_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#1

Любым удобным для вас способом создайте dataframe c именем my_data, в котором две колонки c именами (type - строки, value - целые числа) и четыре наблюдения в каждой колонке:

type value

A    10

A    14

B    12

B    23

In [4]:
my_data = pd.DataFrame({'type': ['A', 'A', 'B', 'B'], 'value': [10, 14, 12, 23]})
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [ ]:
columns = ['type', 'value']
data = [['A', 10], ['A', 14], ['B', 12], ['B', 23]]
my_data = pd.DataFrame(data = data, columns = columns)

#2

Особенно важный навык при работе с данными - это умение быстро и эффективно отбирать нужные вам колонки или строки.

Начнем с простого, в dataframe с именем my_stat сохранено 20 строк и четыре колонки (V1, V2, V3, V4):

В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.

В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

Помните, что нумерация индексов строк и колонок начинается с 0.

Обратите внимание, получившиеся subset_1 и subset_2 - тоже должны быть dataframe.

Вы можете скачать набор данных, которые нам также пригодятся в следующих заданиях,  и потренироваться у себя на компьютере. Чтобы считать данные при помощи pandas, используйте функцию read_csv (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

import pandas as pd

my_stat = pd.read_csv('my_stat.csv')
Важно понимать, в чем разница между pandas loc и iloc (https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different). Как отобрать все строки кроме указанных (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)? Умение искать ответы поможет вам на начальных этапах знакомства с pandas (https://stackoverflow.com/questions/28256761/select-pandas-rows-by-excluding-index-number)!

In [25]:
my_stat = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Karpov_ML/main/my_stat.csv')
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [26]:
subset_1 = my_stat.iloc[0: 10, [0, 2]]
subset_1

   V1 V3
0   2  B
1  -1  B
2   0  A
3   2  A
4   0  B
5   2  A
6   0  A
7   1  A
8   0  B
9  -1  A

In [27]:
subset_2 = my_stat.iloc[:, [1, 3]].drop([0, 4])
subset_2.head()

     V2   V4
1   7.0  1.0
2  11.0  0.0
3  11.0  2.0
5  11.0  0.0
6   9.0  2.0

In [28]:
subset_test = my_stat.drop([0, 4]).iloc[:, [1, 3]]
subset_test.head()

     V2   V4
1   7.0  1.0
2  11.0  0.0
3  11.0  2.0
5  11.0  0.0
6   9.0  2.0

#3

Теперь потренируемся отбирать нужные нам наблюдения (строки), соответствующие некому условию. В dataframe с именем my_stat четыре колонки V1, V2, V3, V4:

В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.

В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

Как и в предыдущей задаче результат фильтрации - это тоже dataframe.

Фильтрацию данных можно осуществить разными способами, например так (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) или так (https://stackoverflow.com/questions/22086116/how-do-you-filter-pandas-dataframes-by-multiple-columns).

In [29]:
my_stat['V1'] > 0

0       True
1      False
2      False
3       True
4      False
       ...
495     True
496     True
497    False
498     True
499    False
Name: V1, Length: 500, dtype: bool

In [36]:
my_stat['V3'] == 'A'

0      False
1      False
2       True
3       True
4      False
       ...
495     True
496     True
497    False
498     True
499    False
Name: V3, Length: 500, dtype: bool

In [43]:
my_stat.loc[my_stat['V1'] > 0]

     V1    V2 V3   V4
0     2  13.0  B  1.0
3     2  11.0  A  2.0
5     2  11.0  A  0.0
7     1   9.0  A  1.0
10    1  10.0  A  1.0
..   ..   ... ..  ...
491   4   7.0  A  2.0
494   1  11.0  A  1.0
495   1   8.0  A -1.0
496   3   8.0  A  1.0
498   1  11.0  A  2.0

[161 rows x 4 columns]

In [47]:
query_1 = (my_stat['V3'] == 'A') & (my_stat['V1'] > 0)

In [48]:
subset_1 = my_stat.loc[query_1]
subset_1.head()

    V1    V2 V3   V4
3    2  11.0  A  2.0
5    2  11.0  A  0.0
7    1   9.0  A  1.0
10   1  10.0  A  1.0
13   1  12.0  A  3.0

In [50]:
query_2 = (my_stat['V2'] != 10) | (my_stat['V4'] >= 1)

In [51]:
subset_2 = my_stat.loc[query_2]
subset_2.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
5   2  11.0  A  0.0

#4

Теперь давайте преобразуем наши данные. В переменной my_stat лежат данные с которыми вам необходимо проделать следующее дейтвие. В этих данных (my_stat) создайте две новые переменных:

V5 = V1 + V4

V6 = натуральный логарифм переменной V2

Где найти натуральный логарифм? (https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.log.html)

In [52]:
my_stat['V5'] = my_stat['V1'] + my_stat['V4']
my_stat.head()

   V1    V2 V3   V4   V5
0   2  13.0  B  1.0  3.0
1  -1   7.0  B  1.0  0.0
2   0  11.0  A  0.0  0.0
3   2  11.0  A  2.0  4.0
4   0  10.0  B -1.0 -1.0

In [54]:
import numpy

In [55]:
my_stat['V6'] = numpy.log(my_stat['V2'])
my_stat.head()

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

#5

Отличная работа, закрепим еще пару важных вопросов и можно двигаться дальше.

Переменные V1, V2  ... такие имена никуда не годятся. С такими названиями легко запутаться в собственных данных и в результате ошибиться в расчетах.

Переименуйте (https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.rename.html) колонки в данных  my_stat следующим образом:

V1 -> session_value

V2 -> group

V3 -> time

V4 -> n_users

In [60]:
my_stat.rename(columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}, inplace=True)
my_stat.head()

   session_value  group time  n_users   V5        V6
0              2   13.0    B      1.0  3.0  2.564949
1             -1    7.0    B      1.0  0.0  1.945910
2              0   11.0    A      0.0  0.0  2.397895
3              2   11.0    A      2.0  4.0  2.397895
4              0   10.0    B     -1.0 -1.0  2.302585

In [ ]:
%timeit my_stat.columns = {'session_value':'V1', 'group':'V2', 'time':'V3', 'n_users':'V4'}
%timeit my_stat.columns = ['session_value','group','time','n_users']
%timeit my_stat.rename(columns={'V1': 'session_value', 'V2': 'group', 'V3': 'time', 'V4': 'n_users'}, inplace=True)

#6

И напоследок давайте разберемся, как заменять наблюдения в данных.

В dataframe с именем my_stat сохранены данные с 4 колонками: session_value, group, time, n_users.  

В переменной session_value замените все пропущенные значения на нули. (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется). (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html)

Как получить медиану переменной n_users без учета отрицательных значений? Если не придумали решения, подсказка - ищите один из возможных ответов в задачах, которые мы уже решили.

Данные для тренировки.

In [120]:
my_stat = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Karpov_ML/main/my_stat_1.csv')
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            NaN    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            NaN    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [121]:
my_stat.session_value.fillna(0, inplace=True)
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A       -1
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B      -11
9            0.0     9     A      -20

In [118]:
n_users_median = my_stat.loc[my_stat.n_users >=0, 'n_users'].median()
n_users_median

5.0

In [119]:
my_stat.loc[my_stat.n_users < 0] = n_users_median
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            5.0     5   5.0        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            5.0     5   5.0        5
9            5.0     5   5.0        5

In [83]:
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = n_users_median
my_stat

   session_value  time group  n_users
0            0.0    12     B      9.0
1            0.0    11     A      3.5
2            1.0     8     A      1.0
3            2.0     9     B      3.0
4            2.0    10     B      9.0
5            3.0     8     A      8.0
6            0.0    11     B      5.0
7            0.0     9     A      4.0
8            0.0     8     B      3.5
9            0.0     9     A      3.5

In [123]:
#общее решение
my_stat = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Karpov_ML/main/my_stat_1.csv')
my_stat.session_value.fillna(0, inplace=True)
n_users_median = my_stat.loc[my_stat.n_users >=0, 'n_users'].median()
my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = n_users_median
my_stat

   session_value  time group  n_users
0            0.0    12     B        9
1            0.0    11     A        5
2            1.0     8     A        1
3            2.0     9     B        3
4            2.0    10     B        9
5            3.0     8     A        8
6            0.0    11     B        5
7            0.0     9     A        4
8            0.0     8     B        5
9            0.0     9     A        5

#6.1 доп

In [ ]:
0             NaN     8     A       -7
1            -1.0    10     A       -2
2             NaN    11     B        8
3             NaN     9     A      -18
4            -2.0    10     A        4
5            -2.0    11     A      -10
6             1.0     9     B      -25
7             0.0    11     A      -12
8            -3.0    10     B      -11
9             0.0    11     B        9
10            1.0     9     A        9
11            3.0    10     A       22
12            1.0    11     A       -4
13            0.0     8     B       -3
14            0.0    11     B       -1
15            1.0     7     A       15
16            2.0     9     A        6
17            2.0    10     A        0
18            0.0     9     B       -8
19            1.0    10     A       19

In [124]:
df_test = pd.DataFrame({'session_value' : ['Nan', -1, 'Nan', 'Nan', -2, -2, 1, 0, -3, 0, 1, 3, 1, 0, 0, 1, 2, 2, 0, 1],
                        'time': [8, 10, 11, 9, 10, 11, 9, 11, 10, 11, 9, 10, 11, 8, 11, 7, 9, 10, 9, 10],
                        'group': ['A', 'A', 'B', 'A', 'A', 'A', 'B', 'A', 'B', 'B', 'A', 'A', 'A', 'B', 'B', 'A', 'A', 'A', 'B', 'A'],
                        'n_users': [-7, -2, 8, -18, 4, -10, -25, -12, -11, 9, 9, 22, -4, -3, -1, 15, 6, 0, -8, 19]})
df_test.head()

  session_value  time group  n_users
0           Nan     8     A       -7
1            -1    10     A       -2
2           Nan    11     B        8
3           Nan     9     A      -18
4            -2    10     A        4

In [125]:
df_test.session_value.fillna(0, inplace=True)
n_users_median = df_test.loc[df_test.n_users >=0, 'n_users'].median()
df_test.loc[df_test['n_users'] < 0, 'n_users'] = n_users_median
df_test

   session_value  time group  n_users
0            Nan     8     A        9
1             -1    10     A        9
2            Nan    11     B        8
3            Nan     9     A        9
4             -2    10     A        4
5             -2    11     A        9
6              1     9     B        9
7              0    11     A        9
8             -3    10     B        9
9              0    11     B        9
10             1     9     A        9
11             3    10     A       22
12             1    11     A        9
13             0     8     B        9
14             0    11     B        9
15             1     7     A       15
16             2     9     A        6
17             2    10     A        0
18             0     9     B        9
19             1    10     A       19

In [116]:
n_med = df_test.loc[df_test.n_users >=0, 'n_users'].median()
n_med

9.0

In [117]:
df_test = df_test.fillna(0)

df_test.loc[df_test.n_users < 0] = n_med
df_test

   session_value  time group  n_users
0            9.0     9   9.0        9
1            9.0     9   9.0        9
2            Nan    11     B        8
3            9.0     9   9.0        9
4             -2    10     A        4
5            9.0     9   9.0        9
6            9.0     9   9.0        9
7            9.0     9   9.0        9
8            9.0     9   9.0        9
9              0    11     B        9
10             1     9     A        9
11             3    10     A       22
12           9.0     9   9.0        9
13           9.0     9   9.0        9
14           9.0     9   9.0        9
15             1     7     A       15
16             2     9     A        6
17             2    10     A        0
18           9.0     9   9.0        9
19             1    10     A       19

In [ ]:
df_test = df_test.fillna(0)
df_test

In [ ]:
df_test.session_value.fillna(0, inplace=True)
df_test

In [176]:
r = pd.DataFrame( [np.nan, -1, np.nan, np.nan, -2])
r

     0
0  NaN
1 -1.0
2  NaN
3  NaN
4 -2.0

In [177]:
r.fillna(0, inplace=True)
r

     0
0  0.0
1 -1.0
2  0.0
3  0.0
4 -2.0

In [167]:
import numpy as np

In [169]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [166]:
df.fillna(0, inplace=True)
df

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

#7
Чуть не забыли, никакой анализ данных не обходится без агрегации наблюдений. Напомню, в pandas с этим нам поможет связка  groupby + некоторое преобразование. Например:

число наблюдений в каждой группе

df.groupby('group_var').count()

Для того, что бы сгруппировать данные по нескольким переменным, используем список с нужными именами:

df.groupby(['group_var_1', 'group_var_2']).count()

Обратите внимание, что при такой записи группирующие переменные станут индексами в итоговом dataframe, изучите справку по groupby, чтобы разобраться со всеми тонкостями группировки данных. Также функция count() применится ко всем колонкам, что не всегда является желанным результатом. Чтобы применить функцию только к нужной колонке в данных, можно использовать связку  groupby() + agg() (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)

my_stat.groupby('group').agg({'n_users': 'count'})

В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.

Получившийся результат сохраните в dataframe с именем mean_session_value_data.

In [188]:
mean_session_value_data = my_stat.groupby('group', as_index=False).agg({'session_value': 'mean'}).rename(columns={'session_value': 'mean_session_value'})
mean_session_value_data

  group  mean_session_value
0     A                 0.8
1     B                 0.8

#edu

Не совсем понятно, почему в описании этой задачи дается такая рекомендация:
"Также функция count() применится ко всем колонкам, что не всегда является желанным результатом. Чтобы применить функцию только к нужной колонке в данных, можно использовать связку groupby() + agg()

my_stat.groupby('group').agg({'n_users': 'count'})"

Не проще ли вместо метода agg выбирать нужную колонку данных напрямую, например так:
my_stat.groupby('group').n_users.count()
или так:
my_stat.groupby('group')['n_users'].count ?

my_stat.groupby('group').n_users.count()

и

my_stat.groupby('group')['n_users'].count()

вернет тип данных :  pandas.core.series.Series


а

my_stat.groupby('group').agg({'n_users': 'count'})

вернет тип данных : pandas.core.frame.DataFrame